<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="searches/reset.css">
  <link rel="stylesheet" href="searches/base.css">
  <link rel="stylesheet" href="searches/layout-float.css">
  <link rel="stylesheet" href="searches/module.css">
  <title>Document</title>
</head>
<body>
  <h1>Author and Title</h1>
  <form action="/searches" method="POST">
   <fieldset>
     <legend>Search Books</legend>
     <label for="search">Search:</label>
     <input type="text" name="search">
     <select name="type">
       <option value="author">Author</option>
       <option value="title">Title</option>
     </select>
     <input type="submit" value="search">
   </fieldset>
  
  </form>
 
</body>
</html>