<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>

<body class="form-pg">
  <%- include('../../layout/header') %>

  <main>
    <form action="/searches" method="POST">
     <fieldset>
       <legend>Search by Title or Author</legend>
       <label for="search">Enter a title or author:</label>
       <input type="text" name="search">
       <select name="type">
         <option value="author">Author</option>
         <option value="title">Title</option>
       </select>
       <input type="submit" value="Search the Google Books API">
     </fieldset>
    </form>
  </main>
  <%- include('../../layout/footer') %>

</body>
</html>