<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <h1>Author and Title</h1>
  <form action="/searches/new" method="POST">
   <fieldset>
     <legend>Search Books</legend>
     <label for="author">Author:</label>
     <input type="text" name="author">
     <label for="author">Title:</label>
     <input type="text" name="title">
     <input type="submit" value="search">
   </fieldset>
  
  </form>
  <% 
  %>
</body>
</html>