@media only screen and (min-width: 760px) {
body {
  background-color: rgb(35, 108, 172);
  color: rgb(4, 4, 55);
  font-family: cursive;
  text-align: center;
}
header {
  background-color: cornflowerblue;
  color: rgb(4, 4, 55);
  font-family: cursive;
  font-size: 30px;
  padding: 50px;
}

main {
  text-align: center;
  background-color: rgb(35, 108, 172);
  color: rgb(4, 4, 55);
  font-family: fantasy;
  font-size: 18px;
  padding: 100px;
  }

  footer {
   background-color: cornflowerblue;
   color: rgb(4, 4, 55);
   
  }
 
  section {
    text-align: center;
    background-color:darkgray;
    color: rgb(4, 4, 55);
    font-family: fantasy;
    font-size: 20px;
  }

 .form-pg {
   background-color: cornflowerblue;
   color: rgb(4, 4, 55);
   text-align: center;
 }


}